@model IEnumerable<StudentManagementSystem.Models.StudentAssesment>

@{
    ViewData["Title"] = "Student Assesments";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h1>Grades</h1>


@if (this.User.IsInRole("Admin") || this.User.IsInRole("Teacher"))
{
 <p>
    <a asp-action="Create">Create New</a>
</p>
}


@if (this.User.IsInRole("Student") && !this.User.IsInRole("Admin"))
{
    <br />
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assesment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assesment.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>

            @if (this.User.IsInRole("Admin") || this.User.IsInRole("Teacher"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
            @if (this.User.IsInRole("Student") && !this.User.IsInRole("Admin"))
            {
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
            }
        </tr>
        }
    </tbody>
</table>
