@model IEnumerable<StudentManagementSystem.Models.StudentCourse>

@{
    ViewData["Title"] = "Enrolment";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h1>Enrolment</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

@foreach (var course in ViewBag.Courses)
{
    <h4>@(course.Name)</h4>
    <p>
        <a asp-action="Create" asp-route-id="@course.CourseId">Enroll a student</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(i => i.Course == course))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                    <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                          <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />
}